.container {
  position: fixed;
  display: flex;
  //width: 58%;
  margin: 0 auto;
  top: 10px;
  left: 320px;

  h1 {
   font-size: 2.6rem;
    font-weight: bold;
  }

  p {
    position: relative;
    top: -10px;
  }
}

.logo {
  margin-right: 10px;

  svg {
    position: relative;
    top: 8px;
    border: 1px black solid;
    zoom: 1.4;
  }
}


