$mobile-color: #f5f5f5;

.box {
  position: relative;
  width: 100%;
  padding: 15px 20px;
  border-radius: 8px;
  margin: 6px 0;
  transition: .3s;

  @include media("<=mini") {
    margin: 4px 0 0;
    padding: 15px 20px;
  }
}

@each $name, $opts in $side-container-schema {
  .#{$name} {
    background: map-get($opts, "color");

    &:hover {
      background: map-get($opts, "color-hover");
    }

    $mobile-color: map-get($opts, "m-color");
    $mobile-hover: map-get($opts, "m-hover");

    @include media('<mini') {
      @if $mobile-color {
        background: $mobile-color;
      } @else {
        background: map-get($side-container-hover-schema, "m-hover");
      }

      &:hover {
        @if $mobile-hover {
          background: $mobile-hover;
        } @else {

          background: map-get($side-container-hover-schema, "m-hover");
        }
      }
    }
  }
}
