$drop-bg-transition: .2s;
$drop-bg-delay: .05s;
$drop-text-delay: .15s;
$drop-text-transition: .2s;
$drop-height-transition: .4s;
$drop-bg-height: 70px;
$drop-height: 38px;

%cell {
  padding: 5px 10px;

  @include media('<mini') {
    padding: 4px 10px;
  }
}

%right-br {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

%left-br {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

%tb-name {
  @include media('>mini') {
    width: 40%;
  }
}

%tb-date {
  @extend %hide-phone;

  @include media('>mini') {
    width: 32%;
  }

}

.table {
  th, td {
    @extend %cell;
  }

  th {
    font-weight: bold;
    margin: 5px;
    color: $list-th;
    background: $list-th-bg;
  }

  td {
    transition: .3s;
    color: $list-td;
  }
}

.table {
  width: 100%;
  text-align: left;
  border-collapse: separate;
  table-layout: fixed;
}

.name {
  @extend %left-br;
}

.mirror {
  th, td {
    // mirror name
    &:first-child {
      @extend %tb-name;
    }

    // mirror date
    &:nth-child(2) {
      @extend %tb-date;
    }

    // mirror status
    &:nth-child(3) {
      @extend %hide-mini;

      @include media('>mini') {
        width: 15%;
      }
    }

    // mirror detail
    &:nth-child(4) {
      @extend %right-br;

      text-align: center;

      @include media('<mini') {
        width: 23%;
      }

      @include media('>=phone') {
        display: none;
      }
    }

    // mirror help
    &:last-child {
      @extend %right-br;
      @extend %hide-phone;

      @include media('<mini') {
        width: 20%;
      }
    }
  }
}

.folder {
  th, td {
    // folder name
    &:first-child {
      @extend %tb-name;
    }

    // folder date
    &:nth-child(2) {
      @extend %tb-date;
    }

    // folder size
    &:last-child {
      @extend %right-br;
      text-align: center;
    }
  }
}


.header {
  position: relative;
}

.body {
  tr {
    transition: .15s;

    .help {
      transition: .2s;
      color: $list-help;
    }
  }

  td {
    transition: .3s;
    color: $list-td;

    &:first-child {
      font-weight: 700;
    }
  }

  .name {
    a {
      display: block;
      font-weight: 700;
      text-decoration: none;
      color: inherit;
      margin: -5px -10px;
      padding: 5px 10px;

      @include media('<phone') {
        display: inline;
      }
    }
  }

  tr {
    &:hover {
      background: $list-tr-hover;
    }

    @include media('<phone') {
      &:hover {
        background: transparent;
      }
    }
  }

  @each $name, $opts in $mirror-status-schema {
    .#{$name} {
      text-align: center;
      zoom: 0.8;
      color: map-get($opts, "color");
    }
  }
}

.drop {
  display: none;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: height $drop-height-transition;

  td {
    padding: 0 10px;
  }

  @include media("<=phone") {
    display: table-row;
  }

  &:before {
    content: "";
    //transition: background-color .25s;
    transition: height $drop-bg-transition;
    transition-delay: $drop-bg-delay;
    width: 100%;
    position: absolute;
    top: -29px;
    height: 28px;
    z-index: -1;
    border-radius: 9px;
  }

  &Ele {
    position: absolute;
    top: -5px;
    padding-top: 0!important;
    padding-bottom: 0!important;
    opacity: 0;
    transition: opacity $drop-text-transition;
    transition-delay: $drop-text-delay;
    overflow: hidden;

    p {
      font-size: 12px;
      color: $list-drop-p;
    }
  }
}

.trans {
  height: 42px;
  position: relative;
  opacity: 1;

  &:before {
    background: $list-trans;
    height: $drop-bg-height;
  }

  .dropEle {
    opacity: 1;
    height: $drop-height;

    .help {
      transition: .2s;
      color: $list-help;
      font-size: 12px;
      //text-decoration: none;
    }
  }
}

.letterWrap {
  position: absolute;
}

.letter {
  float: left;
  height: 0;
  display: block;
  font-weight: bold;
  font-size: 1.6rem;
  top: 20px;
  width: 24px;
  color: $list-letter;
  text-align: right;
  position: sticky;
  transform: translateX(-75px);

  @extend %hide-mini;

  &:before {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    height: 30px;
    top: 6px;
    width: 24px;
    background: $list-letter-bf;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    text-align: right;
    top: 16px;
    right: -49px;
    width: 35px;
    border-bottom: $list-letter-line;
  }
}

.status {
  text-align: center;

  @extend %hide-tablet;
}

.detail {
  color: $list-detail;
  zoom: .8;

  .title {
    margin-right: 6px;
    margin-left: 6px;
  }

  svg {
    margin-right: 4px;
  }

  @each $name, $opts in $mirror-status-schema {
    &.#{$name} {
      span {
        color: map-get($opts, "color");
      }
    }
  }
}

.loading {
  color: red;
}
